<ion-header>
  <!--  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div fxLayout="column" fxLayoutAlign="space-around center" fxFlex="100" style="height: 100vh;">

    <div fxFlex="30" style="margin-top: 100px;">
      <img src="assets/icon/coinkIcon.png" alt="" class="iconoCoink">
    </div>
    <div fxFlex="20">
        <h3 class="green center">LA ALCANCIA QUE SIEMPRE TE ACOMPAÑA</h3>
    </div>
    <div fxLayoutAlign="space-around center" fxLayout="column" fxLayoutGap="10px" fxFlex="20">
      <button class="button greenB" (click)="goToRegister()">Registrarse</button>
      <button class="button dark-greenB white">Ingresar</button>
    </div>
  </div>
</ion-content>